.flex-column {
  /* padding: 0%; */
  /* margin: 0%; */
  /* border: 0cap; */
  /* overflow-x: hidden; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* justify-content: space-around;  */
}

.flex-row {
  /* flex-direction: "row"; | row-reverse | column | column-reverse; */
  /* flex-wrap: nowrap; */
}

.container {
  /* display: flex; */
}
