.stopButtonInsideAR {
  background-color: transparent;
  color: black;
  border: 3px solid;
  border-color: black;
  /* z-index max value */
  z-index: 2147483647;
  position: absolute;
  top: 2rem;
  left: 2rem;
  transform: translate(-50%, 0);
  /* padding: 10px; */
}

.logo-instructions {
  height: 6em;
}

.graffiti-ra {
  top: 45%;
  transform: translate(-50%, -50%);
}
