:root {
  margin: 0 auto;
  border: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-align: center;
  /* height: 100vh; */
  /* width: 100vw; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  /* display: flex; */
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border-color: lightgray;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
  margin-top: 10px;
  padding-inline: 30px;
  padding-block: 15px;
  font-size: 1.5rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#container {
  /* #root { */
  margin: 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
/* } */

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  /* padding: 2em; */
  width: 100vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 10px; */
}

.card-buttons {
  width: 100%;
  color: white;
  border-color: gray;
  z-index: 2147483647;
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link-to-about {
  color: #888;
  cursor: crosshair;
}

.graffiti-ra {
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/* Estilos para dispositivos na orientação paisagem (horizontal) */
@media (max-width: 915px) and (orientation: landscape) {
  .logo {
    height: 6em;
    padding: 1.5em;
  }
  button {
    margin-top: 3px;
    padding-inline: 15px;
    padding-block: 10px;
    font-size: 1.3rem;
  }
}

/* Estilos para dispositivos na orientação retrato (vertical) */
@media (max-width: 767px) and (orientation: portrait) {
  .logo {
    height: 7em;
    padding: 1.5em;
  }
  button {
    margin-top: 3px;
    padding-inline: 15px;
    padding-block: 10px;
    font-size: 1.3rem;
  }
  .card-buttons {
    top: 25%;
  }
}
